*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #333333, #090707);
    color: white;
}
p{
  font-size: 22px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.logo{
  align-items: center;
  display: flex;
}
nav ul {
  list-style: none; /* mật dấu chấm mặc định của thẻ ul */
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu ul li a{
  text-decoration: none;
  color: white;
  font-size:14px ;
}
.menu ul li:last-child{
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}
.hero,.hero2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
.hero h1{
  font-size: 65px;
  width: 65%;
  margin: 72px 0 27px 0;
}
.hero h2{
  font-size: 40px;
  margin-top: 76px;
}
.hero h1 span{
  color: blue;
}
.hero-action{
  margin-top: 36px;
}
.btn-featured{
  background-color:rgb(48, 48, 48) ;
  padding: 10px 30px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.btn-started{
  color: white;
  background-color: #3775ED;
  padding: 10px 30px;
  margin: 0 10px;
  border: 1px solid #3775ED;
  border-radius: 5px;
}
.banner{
  width: 1200px;
  height: 514px;
  margin: 20px 0 76px 0;
  overflow: hidden;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.box-build{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
  border-bottom: 1px solid #282828;
  margin-top: 80px;
}
.box-itiem{
    width: 32%;
  padding: 40px 20px 0;
  border-radius: 5px;

}
.box-itiem img{
  width: 62px;
  height: 62px;
}
.box-itiem h3{
  font-size: 24px;
  margin-bottom: 14px;
  margin-top: 20px;
}
.box-itiem p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.box1{
  background-color: #C96408;
  position: relative;
}
.move{
  position: absolute;
  top: -20px;
  left: -15px;
}
.move1{
  top: -20px;
  right: -15px;
  position: absolute;
}
.box2{
  background-color: #7937BB;
}
.box3{
  background-color: #3775ED;
}
.large {
  width:100%;
  background-color: #1A1919;
  margin-bottom: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.large img{
  width: 55px;
  height: 55px;
}
.Ellipse10{
  position: absolute;
  top: 33px;
  left: 96px;
}
.Ellipse11{
  position: absolute;
  bottom: 100px;
  left: 36px;
}
.Ellipse13{
  position: absolute;
  top: 25px;
  left: 609px;
}
.Ellipse14{
  position: absolute;
  bottom: 33px;
  right: 319px;
}
.Ellipse15{
  position: absolute;
  bottom: 55px;
  right: 91px;
}
.Ellipse16{
  position: absolute;
  top: 93px;
  right: 36px;
}
.Ellipse18{
  position: absolute;
  bottom: 40px;
  left: 211px;
  background-color: #282828;
  border-radius: 50%;
  padding: 10px;
}
.Ellipse19{
  position: absolute;
  top: 29px;
  right: 213px;
  background-color: #282828;
  border-radius: 50%;
  padding: 10px;
}
.large p{
    width: 58%;
    margin-top: 20px;
    letter-spacing: 2px;
    margin-bottom: 107px;
}
.hero1{
  padding: 0 8%;
}
.hero1 h2,.hero1 p{
  margin: 10px;
}
.hero1 h2,.hero2 h2{
  font-size: 40px;
}
.feature-developers{
  display: flex;
  flex-wrap: wrap;
  margin-top: 67px;
}
.box-feature{
  margin: 10px;
  position: relative;
}
.status{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 20px 14px;
  background-color: #090707;
  opacity: 0.85;
}
h6{
  font-size: 20px;
}
.status p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 8px 0 0 0;
}
.status p span{
  display: flex;
  align-items: center;
}
.status p img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.hero1-action{
  text-align: center;
  margin-top: 85px;
  padding-bottom: 86px;
  border-bottom: 1px solid #282828;
}
.container{
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.name{
  display: flex;
  align-items: center;
}
.name p{
  font-size: 16px;
}
.content{
  width: 32%;
  padding: 20px;
  background-color: #1A1919;
  border-radius: 5px;
}
.content p{
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 25px;
}
.account{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.account img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  
}
.enjoy{
  position: relative;
  width: 86%;
  height: 480px;
  overflow: hidden;
  margin: 155px 0;
  border-radius: 15px;
  
}
.enjoy-content{
  position: absolute;
  left: 77px;
  top: 129px;
  text-align: left;
}
.enjoy-content h1,.join h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.enjoy img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
  
}
.join{
  border-bottom: 1px solid #282828;
  border-top: 1px solid #282828;
  
  width: 86%;
  
}
.join-content{
  border-radius: 15px;
  background-color: #3775ED;
  margin: 50px 0;
  padding: 48px 0;
  
}
.join-content button{
  padding: 15px 60px;
  background-color: #1A1919;
  color: white;
  border-radius: 5px;
  border: 1px solid #1A1919;
  margin-top: 36px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 78px 100px 59px;
}
.icon{
  display: flex;
  align-items: center;
}
.icon a{
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px;
  margin: 10px;
}
.icon a img{
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  body{
    background-image: none;
    background-color: black;
  }
  .menu {
    display: none;
  }
  .header{
    padding: 16px 8px;
    background-color: black;
    width: 100%;
  }
  .hero{
    padding: 0;
  }
  .hero h1{
    font-size: 35px;
    width: 100%;
  }
  .hero p{
    font-size: 18px;
    line-height: 1.5;
  }
  .btn-started{
    display: block;
    padding: 16px 134px;
    width: 95%;
    margin-bottom:20px;
  }
  .btn-featured{
    display: block;
    padding: 16px 134px;
    width: 95%;
    background-color: black;
  }
  .hero-action{
    margin-top: 12px;
  }
  .banner{
    width: 385px;
    height: 348px;
    margin-bottom: 71px;
  }
  .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .hero h2{
    margin: 0 15px;
    font-size: 24px;
  }
  .box-build{
    margin:14px 10px  0;
    width: 100%;
    border-bottom: none;

  }
  .hero p:last-of-type{
     font-size: 16px;
   }
   .box-itiem{
    width: 100%;
    margin: 0 10px;
   }
   .box-itiem h3{
    font-size: 22px;
   }
   .large{
    padding:130px 6px ;
   }
   .large p{
    margin: 7px 0 0 0;
    letter-spacing:normal;
    width: 100%;
   }
   .large img{
    width: 40px;
    height: 40px;
   }
   .Ellipse10{
    left: 27px;
    top: 60px;
   }
   .Ellipse11{
    left: 27px;
    bottom: 73px;
   }
   .Ellipse13{
    top: 80px;
    left: 127px;
   }
   .Ellipse14{
    bottom: 73px;
    right: 124px
   }
   .Ellipse15{
    bottom: 33px;
    right: 30px;
   }
   .Ellipse16{
    right: 30px;
    top: 75px;
   }
   .Ellipse18{
    left: 103px;
    bottom: 24px;
   }
   .Ellipse19{
    right: 119px;
    top: 20px;
   }
   .hero1{
    margin-top: 62px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .hero1 h2{
    font-size: 24px;
   }
   .hero1 p{
    font-size: 16px;
    width: 80%;
    line-height: 1.5;
   }
  .feature-developers{
    margin-top: 33px;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
  }
  .box-feature{
    height: 304px;
    margin: 0 0 20px 0;
  }
  .box-feature img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .status h6{
    text-align: left;
  }
  .status p{
    font-size: 14px;
    width: 100%;
  }
  .status p img{
    margin: 0 ;
  }
  .status p span img{
    margin-right: 5px;
  }
  .hero1-action{
    margin-top: 45px;
    padding-bottom: 30px;
    width: 95%;
  }
  .hero1-action .btn-started{
    display: inline;
    padding: 17px 61px;
    width: 60%;
  }
  .hero2{
    padding: 20px 10px;
  }
  .hero2 h2{
    font-size: 26px;
    margin-top: 24px;
  }
  .hero2 p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0 10px;
  }
  .container{
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    gap: 13px;
  }
  .content{
    width: 100%;
  }
  .content p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .name{
    font-size: 16px;
  }
  .enjoy{
    width: 100%;
    margin: 50px 0 20px 0;
    border-radius: 0;
  }
  .enjoy-content{
    width: 60%;
    left: 22px;
    top: 129px;
  }
  .enjoy-content p{
    padding: 0;
  }
  .enjoy-content h1, .join h1{
    font-size: 28px;
  }
  .join-content{
    margin-top: 40px;
    padding: 49px 21px 33px 25px;
  }
  .join{
    width: 100%;
    border-bottom: 0;
    text-align: left;
    
  }
  .footer{
    display: none ;
  }
}
