*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 135px;
  background-color: #FFFCF4;
}
.logo{
  align-items: center;
  display: flex;
}
.logo a{
  text-decoration: none;
  color: black;
}
nav ul {
  list-style: none; /* mật dấu chấm mặc định của thẻ ul */
  display: flex;
  align-items: center;
  gap: 42px;
}
.menu ul li a{
  text-decoration: none;
  color: #5F5B53;
  font-size:14px ;
}
.menu ul li:last-child{
  margin-left: 28px;
  border: 1px solid #171100;
  padding: 11px 41px;
  border-radius: 45px;
  background-color:#171100 ;
}
.menu ul li:last-child a{
    color: white;
}
.hero{
  background-color: #FFFCF4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 230px;
  padding: 0 135px;
  font-size: 14px;
}

.hero-action{
  width: 50%;
}

.banner-img{
  position: relative;
  width: 470px;
  height: 685px;
  margin: 20px 0 65px 0;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% ;
    border-radius: 20px;
    filter: brightness(90%);
    
}
.box-banner{
  position: absolute;
  bottom: 48px;
  right: -100px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}
.box-banner{
  background-color: #FFFFFF;
  padding: 24px 63px 24px 24px;
}
.box-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.box-item-img{
  margin-right: 4px;
}
.box-item-content{
  line-height: 25px;
}
.box-item-content h3{
  font-size: 18px;
  color: #171100;
}
.box-item-content p{
    font-size: 14px;
    color: #5F5B53;
}
.hero-action h1{
  font-size: 58px;
  color: #171100;
  width: 102%;
  margin-bottom: 20px;
}
.hero-action p{
  font-size: 18px;
  color: #5F5B53;
  line-height: 1.5;
}
.btn-see{
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 35px;
}
.btn-see button{
  background-color: #FFB900;
  color: white;
  padding: 17px 33px;
  border-radius: 45px;
  border: 1px solid #FFB900;
  margin-right: 28px;
}
.btn-see a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #171100 ;
}
.btn-see a img{
  height: 40px;
  margin-right: 5px;
}
.recent{
  margin-top: 45px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.recent p{
  width: 100%;
}
.box-recent{
  width: 40%;
  display: flex ;
  align-items:baseline ;
  gap: 10px;
}
.box-recent b{
  font-size: 44px;
}
.hero1{
  margin-top: 100px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 135px 20px;
}
.title-start h2{
  font-size: 38px;
  margin-bottom: 15px;
}
.title-start p{
  font-size: 18px;
  width: 70%;
  line-height: 1.5;
  color: #5F5B53;
}
.next-prev button{
  font-size: 20px;
  padding: 12px 18px;
  color: #FFB900;
  border: 1px solid #FFB900;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.next-prev button:last-child{
  background-color: #FFB900;
  color: white;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 135px 100px;
  gap: 30px
}
.box-container{
  padding-bottom: 22px;
  overflow: hidden;
  width:32%;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}
.box-container p{
  font-size: 14px;
  color: #5F5B53;
  padding: 0 80px 10px 22px;
  line-height: 1.5;
}
.header-img{
  height: 278px;
  width: 100%;
  
}
.header-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 22px 5px;
}
.status h6{
  font-size: 18px;
}
.status span{
  display: flex;
  justify-content: center;
  color: #FEA31B;
  font-size: 16px;
}
.container-content{
  display: flex;
  padding:2px 22px ;
  justify-content: space-between;
  align-items: center;
}

.box-container:nth-child(1) a{
  border: 1px solid #FFB900;
  background-color:#FFB900 ;
}
.container-content a{
  padding: 12px 24px;
  border: 1px solid #171100;
  color: white;
  background-color:#171100 ;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
}
.container-content b{
  font-size: 18px;
}
.hero-2{
  background-color: #2E2100;
  margin: 100px 0;
}
.name{
  width: 50%;
}
.name h3{
  font-size: 24px;
  color: #F7F7F7;
  margin: 15px 0 5px;
}
.name p{
  font-size: 14px;
  color: #BFBCB2;
}
.name-img{
  width: 72px;
  height: 72px;
}
.name-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.hero-2-container{
  padding: 69px 135px;
  display: flex;
  justify-content: space-between;
  gap: 240px;
}
.hero-2-content{
  font-size: 26px;
  font-style: italic;
  line-height: 1.5;
  color: white ;
}
.hero-2-content p{
  padding-left: 28px;
  margin-top: -10px;
  font-size: 26px;
  letter-spacing: 1px;
}
.hero-3{
  display: flex;
  padding:100px 135px;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
.hero-3-img{
  display: flex;
  gap: 30px;
}
.hero-3-img-1{
  margin-top: 33px;
}
.hero-3-img-2{
  margin-bottom: 33px;
}
.hero-3-img-1,.hero-3-img-2{
  width: 270px;
  height: 404px;
  border-radius: 15px;
  overflow: hidden;
}
.hero-3-img-1 img,.hero-3-img-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(90%);
}
.hero-3-content h2{
  font-size: 36px;
  color: #171100;
  margin-bottom: 15PX;

}
.hero-3-content p{
  font-size: 16px;
  color: #5F5B53;
  margin-top: 15PX;
  line-height: 1.5;
  letter-spacing: 1px;
}
.hero-3-content a{
  text-decoration: none;
  color: white;
  background-color: #FFB900;
  padding: 11px 37px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 30px;
}
.join{
  width: 470px;
  height: 440px;
}
.hero-4{
  background-color: #FFFCF4;
  padding: 95px 0 40px 0;
  margin-top: 100px;
}
.hero-4-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px ;
}
.hero-4-title h2{
  font-size: 38px;
}
.hero-4-title p{
  text-align: center;
  width: 28%;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 16px;
  color: #696262;
  margin-bottom: 25px;
}
.box-container b{
  font-size: 16px;
  color: #171100;
  padding: 10px 20px;
  display: inline-block;
  line-height: 1.5;
}
.hero-4-content p{
  border-bottom: 1px solid #E2DFDA;
  padding: 0 27px 12px 0;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 95px 135px 0;
  background-color: #2E2100;
  flex-wrap: wrap;
  gap: 30px ;
}
.footer p{
  font-size: 14px;
  color: #BFBCB2;
  margin-bottom: 12px;
  line-height: 1.5;
}
.footer p a{
  text-decoration: none;
  color: #BFBCB2;
}
.icon{
  width: 20%;
}
.icon h2{
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}
.footer-navbar{
  width: 65%;
  justify-content: space-between;
  display: flex;
  gap: 130px;
}
.navbar-box p b{
  color: white;
}
.navbar-box h3{
  margin-bottom: 30px;
  width: 130px;
  font-size: 16px;
  color: white;
  padding-bottom: 14px;
  border-bottom: 1px solid #59554B;
}
.footer-end{
  width: 100%;
  padding: 28px 0;
  border-top: 1px solid #59554B;
  text-align: center;
}